body{
    text-align: center;
}
button{
    display: block;
    margin: 0 auto;
}
p{
    text-align:center;
}
#tablero{    
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
}
.color{
    height: 100px;
    width: 100px;
    opacity: 0.5;
    transition: opacity 1s;
}
.rojo{
    border-radius: 100%;
    background-color: red;
}

.amarillo{
    border-radius: 100%;
    background-color: yellow;
}

.verde{
    border-radius: 100%;
    background-color: green;
}

.azul{
    border-radius: 100%;
    background-color: blue;
}
