body{
    text-align: center;
}
button{
    display: block;
    margin: 0 auto;
}
p{
    text-align:center;
}
#tablero{    
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
}
.color{
    height: 100px;
    width: 100px;
    opacity: 0.5;
    transition: opacity 1s;
}
.rojo{
    border-radius: 100%;
    background-color: red;
}

.amarillo{
    border-radius: 100%;
    background-color: yellow;
}

.verde{
    border-radius: 100%;
    background-color: green;
}

.azul{
    border-radius: 100%;
    background-color: blue;
}





























/*
h2{
 color: chocolate;   
}
.rojo{
    border-radius: 100%;
    background-color: red;
    height: 120px;
    width: 120px;
}
.amarillo{
    border-radius: 100%;
    background-color: yellow;
    height: 120px;
    width: 120px;
}
.azul{
    border-radius: 100%;
    background-color: blue;
    height: 120px;
    width: 120px;
}
.verde{
    border-radius: 100%;
    background-color: green;
    height: 120px;
    width: 120px;
}
.color {
    opacity: 0.3;
    transition: opacity 1s;
    align-items: center;
}
body{
    text-align: center;
}
.tablero{
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 40 px;
    justify-content: center;
    margin-top: 20px;
}
*/